.p-bg-info{
    background-color:#fceae8 !important;
}
.y300-bg-warning{
    background-color: #ffcd39 !important;
}
.p400-bg-success{
    background-color:#de5c9d !important;
}
.b300-bg-primary{
    background-color: #6edff6 !important;
}
.categories{
    height: 110px;
}
.gap-my{
    margin-top: 100px;

}
.btn-clr{
    background-color: #4dd4ac;
}
.pink-btn{
    background-color: #efadce !important;
}
